<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <div class="page">
            <header class="page__header">
                {{ partial "header.html" . }}
            </header>

            <main class="page__body">
                {{ block "main" . }}{{ end }}
            </main>

            <footer class="page__footer">
                {{ partial "footer.html" . }}
            </footer>
        </div>
    </body>
</html>
