<title>{{ if not .IsHome }}{{ with .Title }}{{ . }} · {{ end }}{{ end }}{{ site.Title }}</title>
{{ $description := site.Params.about.description }}
{{ with .Params.description }}{{ $description = . }}{{ end }}
<meta name="description" content="{{ $description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="theme-color" content="#fdfcf9">
{{ if site.Params.noindex }}<meta name="robots" content="noindex">{{ end }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "css/risotto.css" | absURL }}">
<link rel="stylesheet" href="{{ "css/custom.css" | absURL }}">

{{ with .OutputFormats.Get "rss" }}
<link rel="alternate" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ site.Title }}">
{{ end }}

<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:title" content="{{ if not .IsHome }}{{ with .Title }}{{ . }} · {{ end }}{{ end }}{{ site.Title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:locale" content="{{ site.LanguageCode }}">
